@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');


html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.nav {
    display: block;
    margin: auto;
    text-align: center;
}

.nav a {
    font-size: 2rem;
    margin: 20px 20px;
    padding: 5px;
    color: white;
    text-decoration: none;

}

.nav a:hover {

    text-decoration: underline;
}

.center {

    width: 100vw;
}

#imgbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: auto;
}
#videobox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: auto;
}

#artbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: auto;
}

.user  {
    
    width: 400px;
    height: 300px;
    background-color: rgb(0, 0, 0);
     position: relative;
     border: 3px hsl(85, 13%, 25%) solid;

}

.user img {
     max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}
/* Child Text Container */
.user div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.user:hover{
 cursor: pointer;
}

.user:hover div{
 width: 150px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
}

html {
    background-color: rgb(63, 63, 63);
}

#aboutText p{
    color: white;
    max-width: 700px;
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#footer {
  width: 100%;
  display: block;
  height: 100px;
  background-color: black;
  text-align: center;
  color: rgb(172, 172, 172);

}

